body {
  font-size: 16px;
  line-height: 1.5;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.container {
  max-width: 1280px;
  margin: 0 auto !important;
}

nav {
  color: #fff !important;
  font-size: 1rem !important;
  button {
    color: rgb(245, 244, 244) !important;
    &:hover {
      color: #fff !important;
    }
  }
}

button,
a {
  cursor: pointer;
  text-decoration: none;
  color: #fff !important;
}

.active {
  border: 1px solid #fff;
  color: #fff;
  &:hover {
    color: #fff !important;
  }
}

.col-md-4 {
  margin: 0 auto;
}

.w-70 {
  width: 70%;
}
